<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../resource/css/table.css">
    <script src="../../resource/public/jquery/jquery-1.8.0.min.js"></script>
   
 
    <script src="../../resource/public/config/config.js"></script>
  
    <script src="../js/test.js"></script>
    <script src="../../resource/public/framework/remote-permission.js"></script>
    <script src="../../resource/public/framework/remote-retriver.js"></script>
    <script src="../../resource/public/framework/baseRequest.js"></script>


    <script src="../../resource/public/framework/table.js"></script>
    
    
 
   <!--表格展示-->
    <script>

        $(function () {
        	
        var queryData=rQueryAll();    
        
       
        var data = JSON.parse(queryData.data);
          var  pageCount=queryData.pageCount;
          var totalCount=queryData.totalCount;
          
            
      /*   _resultJson={"totalCount":totalCount,"pageCount":pageCount,'data':resultData}
        console.log(data) */
   
        
      
     
      
    	

            var student = {
                //   "order": ['firstName', 'lastName'],
                "title": {
                    "createDatetime": {value: "创建时间", width: '100'},
                    "createUser": {value: "创建人", width: '200'},
                    "deleteFlag": {value: "0", width: '150'}
                },

                "content": [
                    {"firstName": "Isaac", "lastName": "Asimov", "genre": "science fiction"},
                    {"firstName": "Tad", "lastName": "Williams", "genre": "fantasy"},
                    {"firstName": "Frank", "lastName": "Peretti", "genre": "christian fiction"},
                    {"firstName": "jj", "lastName": "Pere", "genre": "christ on"},
                    {"firstName": "jj", "lastName": "Pere", "genre": "christ on"},
                    {"firstName": "jj", "lastName": "Pere", "genre": "christ on"},
                    {"firstName": "jj", "lastName": "Pere", "genre": "christ on"},
                    {"firstName": "jj", "lastName": "Pere", "genre": "christ on"}],
                "contents": [
                    {"firstName": "Isaac", "lastName": "Asimov", "genre": "science fiction"},
                    {"firstName": "Tad", "lastName": "Williams", "genre": "fantasy"}]

            };

            var tableData = new TableData().init({
                JSONData:data,
                isCheck: true,
                container: '#jiang',
                title:student.title ,
                page: '#pager',
                isAutoClick: false,
                itemCount: totalCount,
                perPage:3
      

            });


            $("#pager").delegate('a', 'click', function () {
                var curIndex = $(this).attr('href');
                if (curIndex != undefined && curIndex != '') {
                    curIndex = parseInt(curIndex.replace('javascript://', ''));
                    tableData.click(curIndex, function (cfg) {
                   tableData.init({
                            JSONData: student.contents
                        })
//                        console.log(cfg)
                        /*传递索引加载数据
                         * */
                    });
                }
            });
        })
      
    </script>


</head>
<body>
<button onclick="hh()">查询所有数据</button><br/><br/>
<div style="width:600px">
    <table cellspacing="0" cellpadding="0" border="1">
        <tbody id="jiang">

        </tbody>
    </table>
    <div id="pager"></div>

</div>
</body>
</html>