<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Data Test</title>
</head>
<body>
<div id="popupContact">  
        <a id="popupContactClose">X</a>  
        <h1>弹出窗口的标题</h1>  
        <p id="contactArea">  
            这就是我们创建的漂亮DIV弹窗效果。可以看到jQuery实在是非常强大，我们仅需少量的CSS和JavaScript代码即可完成这一效果。<br/><br/>  
            我们可以在这个弹窗之中放置一个登录框、注册表单、重要事件提醒等等。   
            <br/><br/>  
            要关闭这个窗口，请点击右上方的X按钮或点击弹窗外的背景或按下键盘上的ESC键。   
            <br/><br/>
        </p>  
    </div>  
    <div id="backgroundPopup"></div>  
</body>
</html>