<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ABB供应链系统登录</title>
    <link rel="stylesheet" href="../css/login.css">
    <script type="text/javascript" src="../../resource/public/jquery/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="../../resource/public/framework/formValidate.js"></script>
    <script type="text/javascript" src="../../resource/public/framework/remote-permission.js"></script>
    <script type="text/javascript" src="../../resource/public/framework/baseRequest.js"></script>
    <script type="text/javascript" src="../../resource/public/config/config.js"></script>
      <!-- <script type="text/javascript" src="../js/common.js"></script> -->
    <script type="text/javascript" src="../js/login.js"></script>
</head>


<body>

    <h1> ABB 供应链系统登录页面</h1><br><br>

	<form action="success.html" name="loginForm">
		<div>
			<table style="width: 468px; height: 262px; background-color: gray; text-align: center;">
				<tr>
					<th colspan="2" align="center">系统登录</th>
				</tr>
				<tr>
					<td>用户名:<input type="text" style="width: 200px; height: 30px;"	id="userNo" name="userNo"></td>
				</tr>
				
				<tr>
					<td>密 码:<input type="password" style="width: 200px; height: 30px;" id="userPass" name="userPass"></td>
				</tr>
				
				<tr>
					<td align="center">
					<input type="button" style="width: 250px; height: 30px;" value="登录" onclick="login()">
					</td>
				</tr>
			</table>
		</div>
	</form>



</body>
</html>