<!DOCTYPE html>
<html lang="en">
<head>
  	<meta charset="UTF-8">
    <title>ABB供应链系统登录</title>
    
    <script type="text/javascript" src="../../resource/public/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../../resource/public/framework/formValidate.js"></script>
    <script type="text/javascript" src="../../resource/public/framework/remote-retriver.js"></script>
    <script type="text/javascript" src="../../resource/public/framework/remote-permission.js"></script>
    <script type="text/javascript" src="../../resource/public/framework/baseRequest.js"></script>
    <script type="text/javascript" src="../../resource/public/config/config.js"></script>
    <script type="text/javascript" src="../js/tOrder.js"></script>
    <!--表格-->
    <link rel="stylesheet" href="../../resource/public/dataTable-1.0/css/dataTable.css">
    <script type="text/javascript" src="../../resource/public/dataTable-1.0/js/dataTable.js"></script>
</head>


<body>
	<h1 align="center">订单展示</h1>
	<div id="data"> </div>
</body>
</html>