@font-face {
    font-family: 'iconfont';
    src: url('font/iconfont.eot');
    src: url('font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('font/iconfont.woff') format('woff'),
    url('font/iconfont.ttf') format('truetype'),
    url('font/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: #485a6a !important;
}

.iconposition {
    position: absolute;
    right: 0px;
    padding-top: 4px

}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown-submenu {
    display: none;
}

.json-menu > li > .dropdown-submenu > li > a {
    padding-left: 30px;
}

.json-menu > li > .dropdown-submenu > li > .dropdown-submenu > li > a {
    padding-left: 45px;
}

.index-left-nav {
    border: solid 1px #e9ecf3;
    width: 10%;
    height: 500px;
    float: left;
    background: #e9ecf3;
    border-radius: 8px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    padding-bottom: 20px;
}

.index-left-nav ul li a {
    display: block;
    position: relative;
    margin: 1px 0 0;
    border: 0;
    padding: 16px 15px;
    padding-top: 16px;
    text-decoration: none;
    color: #485a6a;
    font-size: 18px;
}

.index-left-nav ul li a:hover, .active {
    background-color: #f2f6f9;
}

.cur {
    background-color: #f2f6f9;
}

.index-right {
    float: right;
    width: 88%;
    height: auto;
}

.index-right-nav ul {
    display: inline-block;
}

.index-right-nav ul li {
    border: solid 1px #e9ecf3;
    border-bottom: none;
    position: relative;
    color: #485a6a;
    font-size: 18px;
    display: inline-block;
    float: left;
    margin: 0 5px;
    padding: 12px 25px;
    text-align: center;
    -moz-border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    border-radius: 8px;
}

.iconfont:hover {
    cursor: hand;
    background-color: #d4d4d4;
}

.content {
    height: 100%;
    padding-top: 10px;
}

.icon-transtion {
    -webkit-transform: rotate(90deg); /*Safari and Chrome*/
    -ms-transform: rotate(90deg); /* IE 9 */
    transform: rotate(90deg);
    -webkit-transition: all 300ms;
    transition: all 300ms;
    /* ie7-8*/
    /* filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand',
    M11=0, M12=-1, M21=1,
    M22=0);*/
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation:1)

}
