*{
    margin: 0;
    padding: 0;
}

form{
    vertical-align: middle;
    height: 200px;
    width: 400px;
    border: solid 1px grey;
}

.inputBorder{
    border: solid 1px red;
}
.msg{
    display: none;
}